# Idea
.idea/

# Packer
packer/variables.json
*.retry

# Terraform
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
*.tfstate.bckp
*.tfvars.bckp
.terraform/

# Ansible
vault.key
jdauphant.nginx

# Vagrant & molecule
.vagrant/
*.log
*.pyc
.molecule
.cache
.pytest_cache
