cloud_id                 = "example1111111111111"
folder_id                = "example1111111111111"
zone                     = "ru-central1-a"
app_zone                 = "default"
image_id                 = "example1111111111111"
private_key_path         = "your/private/ssh/key/here"
public_key_path          = "your/public/ssh/key/here.pub"
subnet_id                = "example1111111111111"
service_account_key_file = "service/account/key.json"
instance_count           = "1"
